<!doctype html>
<html>
  <head>
    <title>React App</title>
    <link href="<%- assetPath('bundle.css') %>" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app"><%- html %></div>
    <i class="icon-video"></i>
    <script src="<%- assetPath('bundle.js') %>" type="text/javascript" async></script>
  </body>
</html>
