doctype html
html(lang="en")
  head
    title React App
    link(href="#{assetPath('bundle.css')}" media="all" rel="stylesheet" type="text/css")
  body
    != html
    script(src="#{assetPath('bundle.js')}" type="text/javascript" async)
